body {
    background: linear-gradient(45deg,green,purple,black)
}

h1, .titulo {
    font-family: 'Nabla', cursive;
    text-align: center;
    
}

h2{
    text-align: center;
    color: beige;
}

p{
    color: azure;
}

label{
    color: aqua;
}
.explab{
    color: wheat;
    font-size: 25px;
}

.avatar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.avatar:hover{
    cursor: pointer;
}

.avatar:active{
    transform: scale(0.8);
}